.loginContainer {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:50px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .login_inner {
    text-align: center;
    background-color: white;
    border-radius: 5px;
    height: auto;
    min-height: 450px;
    padding: 15px 30px 25px;
     margin-top: 10px;
    width: 100%;
    
  }
  
  .Carousel_inner{
    position: relative;
      width: 100%;
      overflow: hidden;
       padding-top: 10px;
  }
  .Carousel_inner h3 {
    font-size: 1.25rem;
    font-weight: bolder;
  }
  h5{
    font-size: 1.25rem;
  }
  a:link{
    text-decoration: none;
    
  }
  span a{
    color: #fe8402;
  }
  form{
    margin-top: 30px;
    text-align: left;
  }
  .form input{
    outline: none;
     position: relative;
     box-sizing: border-box;
    padding: 10px 40px 10px 15px;
      width: 100%;
      margin-top: 15px;
      border-radius: 5px;
      border: 0.5px solid rgb(202, 202, 202);
      background-color: inherit;
  }
  .error_input input {
    padding: 10px 40px 10px 15px;
    width: 100%;
    border-radius: 5px;
    background-color: #fee6e6;
    border: 0.5px solid rgb(202, 202, 202);
    outline: none;
  }
  .line {
    height: 3px;
    width: 0px;
    border-radius: 5px;
    background-color: rgb(218, 96, 96);
    display: block;
    transition: 0.9s width ease-in-out;
    position: relative;
    top: -2px;
    box-sizing: border-box;
  }
  .form input:focus + .line {
    width: 100%;
    background-color: rgb(218, 96, 96);
    margin: 0px;
    padding: 0px;
  }
  .password{
    position: relative;
  }
  .forget a{
    display: block;
    text-decoration: none;
    color: rgb(254, 132, 2);
    text-align: right;
    margin-top: 15px; 
  }
  .btn button{
    font-size: 1rem;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    color: white;
    background-color: rgb(81, 108, 240);
  
  }
  .btn button:hover{
    background: #FE8402;
  }
  .password_toggle{
    position: absolute;
    top: 58%;
    right: 5%;
    font-size: 1.2rem;
    color: rgb(132, 132, 132);
     cursor: pointer;
  }
  .password_toggle:hover {
    color: rgb(218, 96, 96); 
  }
  .password_toggle_error {
    position: absolute;
    top: 64%;
    right: 20px;
    transform: translateY(-30%); 
    font-size: 1.2rem;
    color: rgb(132, 132, 132);
    cursor: pointer;
  }
  .password_toggle_error:hover {
    color: rgb(218, 96, 96); 
  }
  
  
  @media (min-width: 768) {
    .login_inner_contanier {
      padding: 10px 40px;
      width: 100%;
      margin-top: 5px;
      border-radius: 5px;
      border: 0.5px solid rgb(202, 202, 202);
    }
    .login_inner {
      width: 90%;
      margin: 25px auto;
    }
  }
  
  
  
  .server_error {
    color: #ff0000a9;
    margin-top: 20px;
    font-size: 15px;
    display: inline;
  }